<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="app-login-form">
    <div class="title-login-form">
        <p class="title">Pour découvrir l’intégralité de votre profil déco,</p>
        <p class="title-sub">il ne reste plus qu’à vous inscrire !</p>
    </div>
    <div class="connect-login-form">
        <a href="#" class="facebook-login btn">
            <span class="icon-fb">
                <img src="./assets/icons/facebook-icon.svg" id="facebookIcon" alt="facebook" class="facebook-ic cursor-pointer"/>
            </span>
            <span class="text-content-btt">S’inscrire avec Facebook</span>
            
        </a>
        <a href="#" class="google-login btn">
            <span class="icon-gg">
                <img src="./assets/icons/google-icon.svg" id="googleIcon" alt="google" class="google-ic cursor-pointer"/>
            </span>
            <span class="text-content-btt">S’inscrire avec Google</span>
        </a>
    </div>
    <div class="line-login-form">
        <hr class="line-l"/>
        <div class="line-text">
            <p class="ou-line-text">ou</p>
        </div>
        <hr class="line-r"/>
    </div>
    <div class="input-login-form">
        <form class="input-form">
            <mat-form-field appearance="fill" class="e-mail">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="leapossion@gmail.com">
            </mat-form-field>
        </form>
        <a href="#" class="btn btn-block continuer-login-form">Continuer</a>
    </div>
    <div class="se-connecter-login-form">
        <a href="#" class="se-connecter">
            <p class="se-con">Se connecter</p>
        </a>
    </div>
</div>

